.button1 {
  background-color: #FFFF0A;
  color: black;
  text-decoration: none;
  padding: .75rem 1.2rem;
  display: inline-block;

  
    background-color: #FFFF0A;
  }

.login {
  background-color: #FFFF0A;
}
  


.button1{
  color: black;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  position: relative; 
  font-size: 2rem;
}


.button1 a{
  color: white;
  text-decoration: none;
  display: block;
}
.button1 span{
  z-index: 2; 
  display: block;
  position: relative;
  width: 100%;
  height: 100%;


}

.button1::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  background-color: black;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  border-radius: 3%;


}
.button1:hover::before{
  opacity: 1;
  width: 100%;

}

.button1:hover {
  color: white;
}


.button1{
  color: black;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  position: relative; 
}


.button1 a{
  font-size: 4rem;
  color: white;
  text-decoration: none;
  display: block;
}
.button1 span{
  z-index: 2; 
  display: block;
  position: relative;
  width: 100%;
  height: 100%;


}







