.thumbnail img {
	width: 100%;
}

.image img {
	width: 100%;
	
}


.thumbnail {
	padding: 0;
}

.thumbnail .caption-full {
	padding: 9px;

}

#delete-form {
	display: inline;
}



.about p{
	font-size: 2.2rem;
	font-weight: 400;


}

hr { 
  
    border: 7px solid #FFFF0A;
}

#test1 {
	height: 320px; 
	overflow: hidden;
}

#test2 {
	height: 250px; 
	overflow: hidden;
}


