<!DOCTYPE html>

<% include ../partials/header %>


 

<div class="container">
	<header class="jumbotron">


	   <h1>Make Life A Ride</h1>
	   <p>View our hand-picked trips from USA</p>
	   <p>
	  	<a class="btn btn-primary btn-lg" href="/trips/new"> Add a new trip</a>
	   </p>
	  
    </header>

   <div class="row text-center" style="display:flex; flex-wrap: wrap;">
   	<% trips.forEach(function(trip){ %>
   	 	<div class="col-md-3 col-sm-6">
   	 		<div class="thumbnail">
   	 			
		      
		      <img src= "<%= trip.image %>">
		      <div class="caption">
		      	<h4><%= trip.name %></h4>
		      </div>
		      <p>
		      	<a href="/trips/<%= trip._id %>" class="btn btn-primary">More info</a>
		      </p>
		   
   	 		</div>
   	 	</div>
   	 <% }); %>
   </div>
   


<% include ../partials/footer %>



   	 		